# name: Build and Release

# on: push

# jobs:
#   build:
#     name: Build
#     runs-on: ubuntu-latest
#     steps:
#       - name: Set up checkout
#         uses: actions/checkout@v1
#       - name: Set up node
#         uses: actions/setup-node@v1
#         with:
#           node-version: 14
#       - name: Install
#         run: yarn install
#       - name: Get version
#         id: version
#         uses: notiz-dev/github-action-json-property@release
#         with:
#           path: package.json
#           prop_path: version
#       - name: Create Release
#         id: create_release
#         uses: actions/create-release@v1
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         with:
#           tag_name: ${{ steps.version.outputs.prop }}
#           release_name: Release ${{ steps.version.outputs.prop }}
#           draft: false
#           prerelease: false
#       - name: Set up Docker Builder
#         uses: docker/setup-buildx-action@v1
#       - name: Log into GitHub Container Registry
#         uses: docker/login-action@v1
#         with:
#           registry: ghcr.io
#           username: ${{ github.repository_owner }}
#           password: ${{ secrets.CR_PAT }}
#       - name: Push to Github Container Registry
#         uses: docker/build-push-action@v2
#         with:
#           context: .
#           version: latest
#           file: dockerfile
#           push: true
#           tags: ghcr.io/${{ github.repository }}:latest
#       # - name: Set up QEMU
#       #   uses: docker/setup-qemu-action@v1
#       # - name: Set up Docker Buildx
#       #   uses: docker/setup-buildx-action@v1
